.user_entry {
    background-color: var(--primary);
    border-radius: var(--border-radius);
    padding: 1rem;
    margin-top: 1rem;

    width: 80% !important;
}

.user_entry > td {
    border-radius: var(--border-radius);
}

.user_entries {
    width: 80%;
}

.profile_admin > span {
    padding-left: 1rem;
}

input {
    margin: 1rem;
}

h5 {
    padding: 0.2rem 0.2rem 0.4rem 0.2rem;
}

main {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}